<div>
  <p class="h2"><b>Welcome</b></p>
  <div class="row d-flex justify-content-between">
    <div class="col-md-6 col-lg-3">
      <div class="widget-small">
        <i class="icon fa fa-cube fa-3x"></i>
        <div class="info">
          <h4>Products</h4>
          <p [@fadeInOut]>
            <b>{{ product_count }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small">
        <i class="icon fa fa-shopping-cart fa-3x"></i>
        <div class="info">
          <h4>Sales</h4>
          <p [@fadeInOut]>
            <b>{{ sales_count }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small">
        <i class="icon fa fa-truck fa-3x"></i>
        <div class="info">
          <h4>Suppliers</h4>
          <p [@fadeInOut]>
            <b>{{ supplier_count }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small">
        <i class="icon fa fa-file-invoice fa-3x"></i>
        <div class="info">
          <h4>Invoices</h4>
          <p [@fadeInOut]>
            <b>{{ invoice_count }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row tile-body mt-4">
    <div class="col-md-5 widget-small">
      <div class="title-body mt-2 p-2">
        <h4>Sales</h4>
        <div id="salesChart">
          <canvas #chartCanvas width="600px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
