.chart-container {
  position: relative;
  min-width: 100% !important;
  height: 325px;
  padding: 0.7rem 0rem;
}

canvas {
  display: block;
  position: relative;
  width: 100%;
  min-width: fit-content;
  height: 100%;
}
