<div>
  <p class="h2">Add Invoice</p>

  <div class="row">
    <div class="clearix"></div>
    <div class="col-md-12">
      <div class="tile">
        <p class="h3 tile-title">Invoice Form</p>

        <div class="tile-body">
          <form
            class="form form-group"
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            method="POST"
          >
            <div class="form-group col-md-3">
              <label class="control-label">Customer Code: </label>
              <input
                type="text"
                class="form-control"
                formControlName="customer"
              />
            </div>
            <div class="form-group col-md-3 mt-2">
              <label class="control-label">Date</label>
              <input class="form-control" type="date" />
            </div>
            <table class="table-bordered table mt-4" formArrayName="product">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Discount %</th>
                  <th scope="col">Tax %</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody
                *ngFor="let data of productArray.controls; let i = index"
                [formGroupName]="i"
                [@fadeInOut]
              >
                <tr>
                  <td>
                    <select
                      class="form-control"
                      formControlName="product_id"
                      (change)="onProductChange($event, i)"
                    >
                      <option selected disabled>Select Product</option>

                      <option
                        *ngFor="let product of products"
                        [value]="product.id"
                      >
                        {{ product.name }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <span
                      class="d-flex flex-column justify-content-between align-items-sm-stretch"
                    >
                      <input
                        type="text"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': !isEnough(i) }"
                        formControlName="qty"
                      />

                      <small class="text-danger mt-2" *ngIf="!isEnough(i)">
                        Quantity exceeds available stock!
                      </small>

                      <small class="text-info-emphasis mt-1"
                        >Total Quantity: {{ qty[i] }}</small
                      >
                    </span>
                  </td>

                  <td>
                    <input
                      type="text"
                      formControlName="sales_price"
                      class="form-control"
                      readonly
                    />
                  </td>

                  <td>
                    <input
                      type="text"
                      [ngClass]="{ 'is-invalid': isInvalidDiscount(i) }"
                      class="form-control"
                      formControlName="discount"
                    />
                    <small
                      class="text-danger mt-2"
                      *ngIf="isInvalidDiscount(i)"
                    >
                      Invalid discount
                    </small>
                  </td>

                  <td>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="tax_rate"
                      readonly
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="total_price"
                      readonly
                    />
                  </td>
                  <td class="d-flex justify-content-evenly align-items-stretch">
                    <button
                      class="btn btn-primary me-2"
                      (click)="addProduct()"
                      type="button"
                    >
                      <i class="fa fa-add fa-fw"></i>
                    </button>

                    <span *ngIf="hasMoreProducts()" [@fadeInOut]>
                      <button
                        class="btn btn-danger"
                        type="button"
                        (click)="removeProduct(i)"
                      >
                        <i class="fa fa-trash fa-fw"></i>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>Total</b></td>
                  <td [@fadeInOut]>
                    <strong>{{ total }}</strong>
                  </td>
                </tr>
              </tfoot>
            </table>

            <div class="d-flex justify-content-between">
              <button class="btn btn-primary" routerLink="/invoices/manage">
                <i class="fa fa-history fa-fw me-2" aria-hidden="true"></i
                >Invoice's Log
              </button>
              <button class="btn btn-success" type="submit">
                <i class="fa fa-check-circle fa-fw me-2" aria-hidden="true"></i
                >Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
