<div class="py-4" style="width: 80vw !important">
  <p class="h2">Manage Tax</p>
  <div>
    <a class="btn-primary btn" routerLink="/tax/create">
      <i class="fa fa-arrow-left pe-2" aria-hidden="true"></i> Back
    </a>

    <div class="row mt-2">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <table class="table table-bordered" id="sampleTable">
              <thead>
                <tr>
                  <th>Tax</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="btn btn-primary btn-sm"
                      ><i class="fa fa-edit"></i>
                    </a>
                    <button
                      class="btn btn-danger btn-sm waves-effect mx-2"
                      type="submit"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
