<div>
  <div class="row mt-2">
    <div class="clearix"></div>
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Supplier Form</h3>
        <div class="tile-body">
          <form
            [formGroup]="supplierForm"
            (ngSubmit)="onSubmit()"
            method="post"
          >
            <div class="form-group col-md-12">
              <label class="control-label">Supplier Name</label>
              <input
                name="name"
                class="form-control"
                formControlName="name"
                type="text"
                placeholder="Enter Name of Supplier"
              />
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Contact</label>
              <input
                formControlName="mobile"
                name="mobile"
                class="form-control"
                type="number"
                placeholder="Enter Contact Number of Supplier"
              />
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Address</label>
              <textarea
                name="address"
                formControlName="address"
                class="form-control"
              ></textarea>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Details</label>
              <textarea
                name="details"
                class="form-control"
                formControlName="details"
              ></textarea>
            </div>

            <div class="form-group col-md-12">
              <label class="control-label">Previous Credit Balance</label>
              <input
                name="previous_balance"
                class="form-control"
                formControlName="previous_balance"
                type="number"
                placeholder="Enter Credit Balance"
              />
            </div>

            <div
              class="d-flex justify-content-between form-group col-md-12 align-self-center"
            >
              <button class="btn btn-success" type="submit">
                <i class="fa fa-fw fa-lg fa-check-circle me-2"></i>Add Supplier
                Details
              </button>

              <button
                class="btn btn-primary"
                type="submit"
                routerLink="/suppilers/manage"
              >
                <i class="fa fa-fw fa-lg fa-edit me-2"></i>Manage Suppliers
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
