<div class="row mt-2">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div *ngIf="stage; else nextStage">
          <div>
            <div
              class="d-flex justify-content-between align-items-center"
              [@fadeInOut]
            >
              <p class="tile-title">Edit Product Form</p>
              <button class="btn btn-link" (click)="change()">
                <i class="fa fa-fw fa-arrow-alt-circle-right fa-2x"> </i>
              </button>
            </div>
            <product-edit [id]="id" [@fadeInOut]></product-edit>
          </div>
        </div>
        <ng-template #nextStage>
          <div>
            <div
              class="d-flex justify-content-between align-items-center"
              [@fadeInOut]
            >
              <p class="tile-title">Edit Product's Supplier Form</p>
              <button class="btn btn-link" (click)="change()">
                <i class="fa fa-fw fa-arrow-alt-circle-right fa-2x"> </i>
              </button>
            </div>
            <product-supplier-edit
              [id]="id"
              [@fadeInOut]
            ></product-supplier-edit>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
