<form [formGroup]="form" (ngSubmit)="onSubmit()" method="put">
    <div class="content py-2" formArrayName="suppliers">
        <div class="row group" *ngFor="let supplier of suppliers.controls; let i = index;" [formGroupName]="i"
            [@fadeInOut]>
            <label> {{ i+1 }}. Supplier </label>
            <div class="form-group col-md-4">
                <select name="supplier_id" class="form-control" formControlName="supplier_id">
                    <option disabled selected>
                        --- Select the Supplier ---
                    </option>
                    <option *ngFor="let x of data" [ngValue]="x.id">
                        {{ x.name }}
                    </option>
                </select>
            </div>

            <div class=" form-group col-md-4">
                <input name="purchase_price" class="form-control" type="number" placeholder="Purchase Price"
                    formControlName="purchase_price" />
            </div>

            <div class="form-group col-md-4">
                <button (click)="addSupplier()" type="button" id="btnAdd-2"
                    class="btn btn-success btn-sm mx-2 float-right">
                    <i class="fa fa-plus"></i>
                </button>
                <span *ngIf="hasMoreSupplier()" [@fadeInOut]>
                    <button type="button" class="btn btn-danger btn-sm mx-2 btnRemove float-right"
                        (click)="removeSupplier(i)">
                        <i class="fa fa-trash"></i>
                    </button>

                </span>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 align-self-end">
        <button class="btn btn-success" type="submit">
            <i class="fa fa-fw fa-check-circle pe-4"></i>
            Update
        </button>

        <a routerLink="/products/manage" class="btn-primary btn mx-md-2">
            <i class="fa fa-fw fa-arrow-circle-left m-0 pe-4"></i> Back
        </a>
    </div>
</form>