<div class="p-5 bg-gray">
  <div class="container pt-5">
    <div class="row d-flex justify-content-around align-items-center mt-5">
      <div class="col-xl-4 col-lg-6 col-md-12">
        <div class="card shadow border-0 card-body px-3 py-4">
          <p class="text-center h2 pt-2 mb-0">Login Page</p>
          <hr />
          <form>
            <div class="mb-3 input-group">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Email Address"
                required
              />
            </div>

            <div class="mb-3 input-group">
              <input
                type="password"
                class="form-control form-control-lg holder"
                placeholder="Password"
                required
              />
            </div>

            <div class="d-grid gap-2 col-12 mx-auto">
              <button
                class="btn btn-primary text-light fw-bold btn-lg border-0 btn-h-primary"
                type="submit"
              >
                Log In
              </button>

              <div class="text-center pb-2">
                <a href="#" class="text-decoration-none">Forgot password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
