<form [formGroup]="productForm" (ngSubmit)="onSubmit()" method="put">
  <div class="row">
    <!-- Product Name -->
    <div class="form-group col-md-6">
      <label class="control-label">Product</label>
      <input
        name="name"
        formControlName="name"
        class="form-control"
        type="text"
        placeholder="Product Name"
      />
    </div>

    <!-- Serial Number -->
    <div class="form-group col-md-6">
      <label class="control-label">Serial Number</label>
      <input
        name="serial_number"
        formControlName="serial_number"
        class="form-control"
        type="text"
        placeholder="Enter Serial Number"
      />
    </div>

    <!-- Model -->
    <div class="form-group col-md-6">
      <label class="control-label">Model</label>
      <input
        name="model"
        class="form-control"
        formControlName="model"
        type="text"
        placeholder="Enter Model"
      />
    </div>

    <!-- Category -->
    <div class="form-group col-md-6">
      <label class="control-label">Category</label>
      <select
        name="category_id"
        formControlName="category_id"
        class="form-control"
      >
        <option value="" class="form-control" disabled selected>
          --- Select the Categoies ---
        </option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- Selling Price -->
    <div class="form-group col-md-6">
      <label class="control-label">Selling Price</label>
      <input
        name="sales_price"
        class="form-control"
        formControlName="sales_price"
        type="number"
        step="0.01"
        placeholder="Enter Selling Price"
      />
    </div>

    <!-- Quantity (Qty) -->
    <div class="form-group col-md-6">
      <label class="control-label">Quantity</label>
      <input
        name="qty"
        class="form-control"
        formControlName="qty"
        type="number"
        placeholder="Enter Quantity"
      />
    </div>
    <!-- Unit -->
    <div class="form-group col-md-6">
      <label class="control-label">Unit</label>
      <select name="unit_id" class="form-control" formControlName="unit_id">
        <option value="" class="form-control" disabled selected>
          --- Select the Units ---
        </option>
        <option *ngFor="let unit of units" [ngValue]="unit.id">
          {{ unit.name }}
        </option>
      </select>
    </div>

    <!-- Image -->
    <div class="form-group col-md-6">
      <label class="control-label">Image</label>
      <input
        type="file"
        name="image"
        class="form-control"
        formControlName="image"
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Tax -->
    <div class="form-group col-md-6">
      <label class="control-label">Tax</label>

      <select name="tax_id" class="form-control" formControlName="tax_id">
        <option value="" class="form-control" disabled selected>
          --- Select the Tax ---
        </option>
        <option *ngFor="let tax of taxes" [ngValue]="tax.id">
          {{ tax.id }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group col-md-12 align-self-end">
    <button class="btn btn-success" type="submit">
      <i class="fa fa-fw fa-lg fa-check-circle"></i> Add Product
    </button>
    <a routerLink="/products/manage" class="btn-primary btn mx-md-2">
      <i class="fa fa-edit"></i> Manage Products
    </a>
  </div>
</form>
