<div>
  <p class="h3">Product's Details</p>
  <div class="tile card p-0 w-100" *ngIf="data">
    <div class="tile-body d-flex justify-content-between align-items-stretch">
      <img class="card-img-top img-fluid w-25" [src]="imageUrls[data.id]" alt="Card image cap" width="100"
        height="100" />
      <div class="card-body d-flex flex-column justify-content-between align-items-stretch">
        <span>
          <div class="tile-title card-title d-flex justify-content-between">
            <p class="h4">
              <strong>{{ data.id }}. {{ data.name }} </strong>
            </p>
            <a routerLink="/products/manage/" class="btn btn-primary">
              <i class="fa fa-fw fa-lg fa-arrow-alt-circle-left pe-2"></i> Back
            </a>

          </div>

          <div class="row mb-3">
            <span class="card-text col-md-3">
              Serial Number: <strong>{{ data.serial_number }}</strong>
            </span>
            <span class="card-text col-md-3">
              Model: <strong>{{ data.model }}</strong>
            </span>
            <div class="card-text col-md-3">
              Sales Price: <strong>Rs {{ data.sales_price }}</strong>
            </div>
            <div class="card-text col-md-3">
              Quantity: <strong>{{ data.qty }}</strong>
            </div>
          </div>

          <div class="row mb-3">
            <span class="card-text col-md-3">
              Category: <strong>{{ categories_name[data.category_id] }}</strong>
            </span>
            <span class="card-text col-md-3">
              Unit: <strong>{{ unit_name[data.unit_id] }}</strong>
            </span>

            <div class="card-text col-md-3">
              Tax : <strong>{{ data.tax_id }}%</strong>
            </div>
          </div>

          <div class="row mb-3">
            <span class="card-text col-6">
              Created at: <strong>{{ data.created_at }}</strong>
            </span>
            <span class="card-text col-6">
              Updated at: <strong>{{ data.updated_at }}</strong>
            </span>
          </div>

          <div class="row my-4">
            <div class="card-text col-12 ">
              <span *ngIf="supplier_data else notFound">
                Suppliers:
                <div *ngFor="let data of supplier_data" class="mb-2">
                  <div class="d-flex align-items-stretch justify-content-start">
                    <div class="mx-2">
                      Supplier Name:
                      <strong>
                        {{ supplier_name[data.supplier_id] }}
                      </strong>
                    </div>

                    <div class="mx-4 d-flex justify-content-between">
                      Purchase Price: <strong>
                        {{ purchase_price[data.supplier_id] }}
                      </strong>
                    </div>
                  </div>
                </div>
              </span>

              <ng-template #notFound>
                Suppliers: <strong>N/A</strong>
              </ng-template>
            </div>
          </div>
        </span>


      </div>
    </div>
  </div>
</div>