<mat-toolbar-row class="d-flex justify-content-between align-items-center mt-2">
  <div>
    <mat-card-header
      class="h4 d-flex justify-content-center align-items-center"
    >
      <span [innerHTML]="content"></span>
    </mat-card-header>
  </div>
  <div
    class="d-flex justify-content-between align-items-center bg-white pe-4 widget-small"
  >
    <img
      mat-card-image
      class="round me-2"
      src="img/tom.jpg"
      alt="user pic"
      width="50"
      height="50"
    />

    <mat-card-content>
      <div class="text-center text-black">User's Name</div>
    </mat-card-content>
  </div>
</mat-toolbar-row>
