<mat-menu
  #appMenu="matMenu"
  [overlapTrigger]="false"
  class="bg-white me-lg-2 px-0"
>
  <ng-template matMenuContent>
    <div *ngIf="user" class="text-center my-2">
      <mat-card-content class="text-black">
        {{ user.username }}
      </mat-card-content>
    </div>
    <hr class="p-0 m-0" />
    <a mat-menu-item class="py-2" [routerLink]="['setting']">
      <i class="fa fa-cog fa-fw me-2" aria-hidden="true"></i>Settings
    </a>
    <button
      mat-menu-item
      class="py-2 danger"
      type="button"
      (click)="logout(user.id)"
    >
      <i class="fa fa-sign-out fa-fw me-2" aria-hidden="true"></i> Logout
    </button>
  </ng-template>
</mat-menu>

<mat-toolbar-row class="d-flex justify-content-between align-items-center mt-2">
  <div>
    <mat-card-header
      class="h4 d-flex justify-content-center align-items-center"
    >
      <span [innerHTML]="content"></span>
    </mat-card-header>
  </div>
  <!-- <button
    class="d-flex btn justify-content-between align-items-center widget-small p-0 round"
    mat-icon-button
    [matMenuTriggerFor]="appMenu"
  >
    <img
      mat-card-image
      class="round me-3"
      src="img/tom.jpg"
      alt="user pic"
      width="50"
      height="50"
    />

    <div *ngIf="user" class="pe-4">
      <mat-card-content class="text-center text-black">
        {{ user.username }}
      </mat-card-content>
    </div>
  </button> -->

  <button
    mat-icon-button
    class="d-flex justify-content-between align-items-center p-0 m-0 btn round"
    [matMenuTriggerFor]="appMenu"
  >
    <img
      src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
      class="rounded-circle"
      height="46"
      [alt]="user.username + '\'s Photo'"
      loading="lazy"
    />
    <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i>
  </button>
</mat-toolbar-row>
