<!-- Login Route -->
<div *ngIf="isRoute('/login'); else check404">
  <!-- Display the login component directly -->
  <app-login></app-login>
</div>

<!-- Check for 404 Route -->
<ng-template #check404>
  <ng-container *ngIf="isRoute('/404'); else defaultContent">
    <!-- Page Not Found -->
    <app-page-not-found></app-page-not-found>
  </ng-container>
</ng-template>

<!-- Default Main Content -->
<ng-template #defaultContent>
  <ng-container *ngIf="isRoute('/setting'); else main">
    <app-settings></app-settings>
  </ng-container>
  <ng-template #main>
    <app-sidebar></app-sidebar>
    <main class="container">
      <app-navbar [content]="htmlContent"></app-navbar>
      <router-outlet></router-outlet>
    </main>
  </ng-template>
</ng-template>
